.footer-link {
    font-family: Poppins;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #fff;
    z-index: 100;
    padding-top: 20px;
}

.footer-link-element {
    color:#3f51b5;
}
