/* Position and size our burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 36px;
  right: 32px;
  top: 32px;
}

/* Color to our burger */
.bm-burger-bars {
  background: white;
}

/* Color to our burger icon on hover */
.bm-burger-bars-hover {
  background: rgb(255, 255, 255);
}

/* Size of the cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color of cross button */
.bm-cross {
  background: #fff;
}

/* Sidebar wrapper styles */
.bm-menu-wrap {
  position: fixed;
  height: 100vh;
  overflow-x: hidden;
  box-shadow: 0px 4px 31px rgba(202, 59, 59, 0.15);
  background-color: red;
}

.bm-menu {
  /* background: linear-gradient(39.97deg, #03d6f3 0.79%, #458ff6 79.29%); */
  background: #7474bf; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #348ac7,
    #7474bf
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #348ac7,
    #7474bf
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* padding: 2.5em 1.5em 0 0; */
  height: 100vh;
  overflow: hidden !important;
  width: 100%;
}

.bm-morph-shape {
  fill: #5e75db;
}

.bm-item-list {
  padding: 2em;
}

.menu-item {
  position: relative;
  font-size: 1.2em;
  text-transform: capitalize;
  letter-spacing: 0.4px;
  text-decoration: none;
  color: #fff;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  padding: 10px;
}

.active-item {
  font-weight: 800;
}
